<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="project_milestone_view_form_gas" model="ir.ui.view">
        <field name="name">project.milestone.view.tree.inherit.smart</field>
        <field name="model">project.milestone</field>
        <field name="inherit_id" ref="sale_project.project_milestone_view_tree"/>
        <field name="arch" type="xml">
            <xpath expr="//field[@name='quantity_percentage']" position="attributes">
                <attribute name="optional">show</attribute>
            </xpath>

            <xpath expr="//field[@name='quantity_percentage']" position="before">
                <field name="quantity_numbers" />
            </xpath>
        </field>
    </record>
</odoo>
