<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_tazkarti_root"
        name="Tazkarti"
        sequence="10"/>
                <menuitem id="menu_operations"
                    name="Operation"
                    parent="menu_tazkarti_root"
                    sequence="10"/>
             
</odoo>