.pos .pos-logo{

    height: 80px;
}

.pos .pos-topheader{
    background-color:#ff4800;
}

.pos .leftpane{

    order:2;
}
.pos .rightpane{

    order:1;
}
.pos .set-partner{
    background-color: #ff4800;
}

.pos .actionpad{

    height:50px;
}

.pos .control-button{
   

    float:left;
}

.pos .pads{
    position: absolute;
    left: 100px;
    top: 620px;
   
    width:1313px ;

}

.pos .set-partner{
    height: 100px;
}
.pos .ticket-button{

    visibility: hidden;
}