<?xml version="1.0" encoding="utf-8"?>

<odoo>

    <record id="view_maintenance_types_tree" model="ir.ui.view">
        <field name="name">maintenance.type.tree</field>
        <field name="model">maintenance.types</field>
        <field name="arch" type="xml">
            <tree>

                <field name="type_name"/>
                <field name="details"/>
                <field name="write_html"/>
                <field name="document_file"/>
                <field name="customer_id"/>

            </tree>
        </field>
    </record>


    <record id="view_maintenance_types_form" model="ir.ui.view">
        <field name="name">maintenance.type.form</field>
        <field name="model">maintenance.types</field>
        <field name="arch" type="xml">
            <form>
                <sheet>
                    <group>
                        <field name="type_name"/>
                        <field name="details"/>
                        <field name="write_html"/>
                        <field name="document_file"/>
                        <field name="customer_id"/>
                    </group>
                </sheet>
            </form>
        </field>
    </record>




     <record id="maintenance_types_action" model="ir.actions.act_window">
         <field name="name">Maintenance Types</field>
         <field name="type">ir.actions.act_window</field>
         <field name="res_model">maintenance.types</field>
         <field name="view_mode">tree,form</field>
    </record>


     <menuitem
         id="menu_m_type_form"
         name="Maintenance Types"
         parent="maintenance.menu_m_request"
         action="maintenance_types_action"
         sequence="10"/>
</odoo>

<!--&lt;!&ndash;-->
<!--base.edit_menu_access-->
<!--              action="hr_equipment_request_action"-->
<!--               groups="group_equipment_manager,base.group_user"-->
<!--            <field name="details"/>-->
<!--            <field name="write_html"/>-->
<!--            <field name="document_file"/>-->
<!--            <field name="customer_id"/>-->
<!--    groups="maintenance.group_equipment_manager,base.group_user"-->
<!--&ndash;&gt;-->
